<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Font Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/mailStyle.css">
    <title>Mail</title>
</head>
<body>
<!-- Header Starts -->
<div class="header">
    <div class="header__left">
        <span class="material-icons"> menu </span>
        <img
                src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202010/Google_Gmail_New_Logo_India_To_1200x768.jpeg?WgdQ3Tx7r4ZssTpgfxm1Iwb5KMAG8S4A&size=1200:675"
                alt=""
        />
    </div>

    <div class="header__middle">
        <span class="material-icons"> search </span>
        <input type="text" placeholder="Search mail" />
        <span class="material-icons"> arrow_drop_down </span>
    </div>

    <div class="header__right">
        <span class="material-icons">

            account_circle </span>
        <span>
              <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out"/>
                </form>
        </span>
    </div>
</div>
<!-- Header Ends -->

<!-- Main Body Starts -->
<div class="main__body">
    <!-- Sidebar Starts -->
    <div class="sidebar">
        <button class="sidebar__compose" data-toggle="modal" data-target="#myModal" ><span class="material-icons"> add </span>Compose</button>
        <div class="sidebarOption sidebarOption__active">
            <span class="material-icons"> inbox </span>
            <h3>Inbox</h3>
        </div>

        <div class="sidebarOption">
            <span class="material-icons"> near_me </span>
            <h3>Sent</h3>
        </div>

    </div>
    <!-- Sidebar Ends -->

    <!-- Email List Starts -->
    <div class="emailList">
        <!-- Settings Starts -->

        <!-- Settings Ends -->

        <!-- Section Starts -->

        <!-- Section Ends -->

        <!-- Email List rows starts -->
        <div class="emailList__list">
            <!-- Email Row Starts -->
            <div class="emailRow">
                <div class="emailRow__options">
                    <input type="checkbox"/>
                   
                </div>

                <h3 class="emailRow__title">YouTube</h3>

                <div class="emailRow__message">
                    <h4>
                        You Got a New Subscriber
                        <span class="emailRow__description"> - on Your Channel Future Coders </span>
                    </h4>
                </div>

                <p class="emailRow__time">10pm</p>
            </div>
            <!-- Email Row Ends -->

            <!-- Email Row Starts -->
            <div class="emailRow">
                <div class="emailRow__options">
                    <input type="checkbox" />
                   
                </div>

                <h3 class="emailRow__title">YouTube</h3>

                <div class="emailRow__message">
                    <h4>
                        You Got a New Subscriber
                        <span class="emailRow__description"> - on Your Channel Future Coders </span>
                    </h4>
                </div>

                <p class="emailRow__time">10pm</p>
            </div>
            <!-- Email Row Ends -->

            <!-- Email Row Starts -->
            <div class="emailRow">
                <div class="emailRow__options">
                    <input type="checkbox"/>
                   
                </div>

                <h3 class="emailRow__title">YouTube</h3>

                <div class="emailRow__message">
                    <h4>
                        You Got a New Subscriber<span class="emailRow__description">
                  - on Your Channel Future Coders
                </span>
                    </h4>
                </div>

                <p class="emailRow__time">10pm</p>
            </div>
            <!-- Email Row Ends -->

            <!-- Email Row Starts -->
            <div class="emailRow">
                <div class="emailRow__options">
                    <input type="checkbox"/>
                   
                </div>

                <h3 class="emailRow__title">Google</h3>

                <div class="emailRow__message">
                    <h4>
                        Login on New Device<span class="emailRow__description">
                  - is this your Device ?
                </span>
                    </h4>
                </div>

                <p class="emailRow__time">2am</p>
            </div>
            <!-- Email Row Ends -->

            <!-- Email Row Starts -->
            <div class="emailRow">
                <div class="emailRow__options">
                    <input type="checkbox" />
                   
                </div>

                <h3 class="emailRow__title">YouTube</h3>

                <div class="emailRow__message">
                    <h4>
                        You Got a New Subscriber
                        <span class="emailRow__description"> - on Your Channel Future Coders </span>
                    </h4>
                </div>

                <p class="emailRow__time">10pm</p>
            </div>
            <!-- Email Row Ends -->

            <!-- Email Row Starts -->
            <div class="emailRow">
                <div class="emailRow__options">
                    <input type="checkbox"/>
                   
                </div>

                <h3 class="emailRow__title">YouTube</h3>

                <div class="emailRow__message">
                    <h4>
                        You Got a New Subscriber
                        <span class="emailRow__description"> - on Your Channel Future Coders </span>
                    </h4>
                </div>

                <p class="emailRow__time">10pm</p>
            </div>
            <!-- Email Row Ends -->

            <!-- Email Row Starts -->
            <div class="emailRow">
                <div class="emailRow__options">
                    <input type="checkbox"/>
                   
                </div>

                <h3 class="emailRow__title">YouTube</h3>

                <div class="emailRow__message">
                    <h4>
                        You Got a New Subscriber<span class="emailRow__description">
                  - on Your Channel Future Coders
                </span>
                    </h4>
                </div>

                <p class="emailRow__time">10pm</p>
            </div>
            <!-- Email Row Ends -->

            <!-- Email Row Starts -->
            <div class="emailRow">
                <div class="emailRow__options">
                    <input type="checkbox"/>

                </div>

                <h3 class="emailRow__title">Google</h3>

                <div class="emailRow__message">
                    <h4>
                        Login on New Device<span class="emailRow__description">
                  - is this your Device ?
                </span>
                    </h4>
                </div>

                <p class="emailRow__time">2am</p>
            </div>
            <!-- Email Row Ends -->

            <!-- Email Row Starts -->
            <div class="emailRow">
                <div class="emailRow__options">
                    <input type="checkbox"/>

                </div>

                <h3 class="emailRow__title">YouTube</h3>

                <div class="emailRow__message">
                    <h4>
                        You Got a New Subscriber
                        <span class="emailRow__description"> - on Your Channel Future Coders </span>
                    </h4>
                </div>

                <p class="emailRow__time">10pm</p>
            </div>
            <!-- Email Row Ends -->

            <!-- Email Row Starts -->
            <div class="emailRow">
                <div class="emailRow__options">
                    <input type="checkbox" />
                   
                </div>

                <h3 class="emailRow__title">YouTube</h3>

                <div class="emailRow__message">
                    <h4>
                        You Got a New Subscriber
                        <span class="emailRow__description"> - on Your Channel Future Coders </span>
                    </h4>
                </div>

                <p class="emailRow__time">10pm</p>
            </div>
            <!-- Email Row Ends -->

            <!-- Email Row Starts -->
            <div class="emailRow">
                <div class="emailRow__options">
                    <input type="checkbox"/>

                </div>

                <h3 class="emailRow__title">YouTube</h3>

                <div class="emailRow__message">
                    <h4>
                        You Got a New Subscriber<span class="emailRow__description">
                  - on Your Channel Future Coders
                </span>
                    </h4>
                </div>

                <p class="emailRow__time">10pm</p>
            </div>
            <!-- Email Row Ends -->

            <!-- Email Row Starts -->
            <div class="emailRow">
                <div class="emailRow__options">
                    <input type="checkbox"  />
                   
                </div>

                <h3 class="emailRow__title">Google</h3>

                <div class="emailRow__message">
                    <h4>
                        Login on New Device<span class="emailRow__description">
                  - is this your Device ?
                </span>
                    </h4>
                </div>

                <p class="emailRow__time">2am</p>
            </div>
            <!-- Email Row Ends -->

            <!-- Email Row Starts -->
            <div class="emailRow">
                <div class="emailRow__options">
                    <input type="checkbox"/>

                </div>

                <h3 class="emailRow__title">YouTube</h3>

                <div class="emailRow__message">
                    <h4>
                        You Got a New Subscriber
                        <span class="emailRow__description"> - on Your Channel Future Coders </span>
                    </h4>
                </div>

                <p class="emailRow__time">10pm</p>
            </div>
            <!-- Email Row Ends -->

            <!-- Email Row Starts -->
            <div class="emailRow">
                <div class="emailRow__options">
                    <input type="checkbox" />
                   
                </div>

                <h3 class="emailRow__title">YouTube</h3>

                <div class="emailRow__message">
                    <h4>
                        You Got a New Subscriber
                        <span class="emailRow__description"> - on Your Channel Future Coders </span>
                    </h4>
                </div>

                <p class="emailRow__time">10pm</p>
            </div>
            <!-- Email Row Ends -->

            <!-- Email Row Starts -->
            <div class="emailRow">
                <div class="emailRow__options">
                    <input type="checkbox"/>

                </div>

                <h3 class="emailRow__title">YouTube</h3>

                <div class="emailRow__message">
                    <h4>
                        You Got a New Subscriber<span class="emailRow__description">
                  - on Your Channel Future Coders
                </span>
                    </h4>
                </div>

                <p class="emailRow__time">10pm</p>
            </div>
            <!-- Email Row Ends -->

            <!-- Email Row Starts -->
            <div class="emailRow">
                <div class="emailRow__options">
                    <input type="checkbox" />
                   
                </div>

                <h3 class="emailRow__title">Google</h3>

                <div class="emailRow__message">
                    <h4>
                        Login on New Device<span class="emailRow__description">
                  - is this your Device ?
                </span>
                    </h4>
                </div>

                <p class="emailRow__time">2am</p>
            </div>
            <!-- Email Row Ends -->

            <!-- Email Row Starts -->
            <div class="emailRow">
                <div class="emailRow__options">
                    <input type="checkbox" />
                   
                </div>

                <h3 class="emailRow__title">YouTube</h3>

                <div class="emailRow__message">
                    <h4>
                        You Got a New Subscriber
                        <span class="emailRow__description"> - on Your Channel Future Coders </span>
                    </h4>
                </div>

                <p class="emailRow__time">10pm</p>
            </div>
            <!-- Email Row Ends -->

            <!-- Email Row Starts -->
            <div class="emailRow">
                <div class="emailRow__options">
                    <input type="checkbox"/>

                </div>

                <h3 class="emailRow__title">YouTube</h3>

                <div class="emailRow__message">
                    <h4>
                        You Got a New Subscriber
                        <span class="emailRow__description"> - on Your Channel Future Coders </span>
                    </h4>
                </div>

                <p class="emailRow__time">10pm</p>
            </div>
            <!-- Email Row Ends -->

            <!-- Email Row Starts -->
            <div class="emailRow">
                <div class="emailRow__options">
                    <input type="checkbox" />
                   
                </div>

                <h3 class="emailRow__title">YouTube</h3>

                <div class="emailRow__message">
                    <h4>
                        You Got a New Subscriber<span class="emailRow__description">
                  - on Your Channel Future Coders
                </span>
                    </h4>
                </div>

                <p class="emailRow__time">10pm</p>
            </div>
            <!-- Email Row Ends -->

            <!-- Email Row Starts -->
            <div class="emailRow">
                <div class="emailRow__options">
                    <input type="checkbox" name="" id="" />
                   
                </div>

                <h3 class="emailRow__title">Google</h3>

                <div class="emailRow__message">
                    <h4>
                        Login on New Device<span class="emailRow__description">
                  - is this your Device ?
                </span>
                    </h4>
                </div>

                <p class="emailRow__time">2am</p>
            </div>
            <!-- Email Row Ends -->
        </div>
        <!-- Email List rows Ends -->

        <div id="myModal" class = "modal-compose-message" aria-hidden="true" >
            <div class = "modal-header">
                <div class = "x-button" data-toggle="modal" data-target="#myModal">
                    <img src="https://www.pngkey.com/png/full/467-4671988_white-x-symbol-png.png" alt="x-close" width="16" height="16">
                </div>
            </div>

            <div class = "modal-body">
                <div class = "to-field">
                    <input type="text" id="to-input-field" placeholder = "To">
                </div>

                <div class = "subject-field">
                    <input type="text" id="subject-input-field" placeholder="Subject">
                </div>

                <div class = "text-field">
                    <input type="text" id = "text-input-field" placeholder="Write your message here">
                </div>
            </div>

            <div class = "modal-footer">
                <div class = "send-button">
                    <img src="https://cdn.icon-icons.com/icons2/1415/PNG/512/ic-send_97591.png" alt="send" width="20" height="20">
                </div>
            </div>
        </div>
    </div>
    <!-- Email List Ends -->

</div>
<!-- Main Body Ends -->



</body>
</html>