<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      >
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Font Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
    <link rel="stylesheet" href="/css/mailStyle.css">
    <link rel = "icon" href ="/css/images/mailIco.png"
          type = "image/x-icon">
    <title>Mail</title>
</head>
<body>
<!-- Header Starts -->
<div class="header">
    <a href="/login">
        <div class="header__left" style="cursor:pointer" href="/login">
          <img
                src="/css/images/mailIcon.png"
          />

        </div>
    </a>

    <div class="header__middle">
        <span class="material-icons"> search </span>
        <input id="search-text" type="text" placeholder="Search mail" />

    </div>
    <div>
        <input id="deleteButton" type="image" src="/css/images/deleteBtn.png" name="deleteBtn" width="40" height="50" alt="deleteBtn"/>
    </div>
    <div class="header__right">

             <div class="clickable-area"
                  data-toggle="modal"
                  data-target="#viewAccountInfoModal"
                  th:attr="
                     data-name=${currentUser.name},
                     data-email=${currentUser.email},
                     data-address=${currentUser.address},
                     data-telephone=${currentUser.telephone},
                     data-age=${currentUser.age},
                     data-gender=${currentUser.gender}
                         ">
                    <span class="material-icons" style="width:20px;
                                                        margin-right: 20px;
                        ">
                          account_circle
                    </span>
             </div>

    </div>
</div>
<!-- Header Ends -->

<!-- Main Body Starts -->
<div class="main__body">
    <!-- Sidebar Starts -->
    <div class="sidebar">
        <button class="sidebar__compose" data-toggle="modal" data-target="#myModal" ><span class="material-icons"> add </span>Compose</button>
        <div th:onclick="showInbox()" id="inbox-button" class="sidebarOption sidebarOption__active">

            <span class="material-icons"> inbox </span>
            <h3>Inbox</h3>

        </div>

        <div th:onclick="showSent()" id="sent-button" class = "sidebarOption">
            <span class="material-icons"> near_me </span>
            <h3>Sent</h3>
        </div>

        <div th:onclick="showDrafts()" id="draft-button" class = "sidebarOption">
            <span class="material-icons"> drafts </span>
            <h3>Drafts</h3>
        </div>

    </div>
    <!-- Sidebar Ends -->

    <!-- Email List Starts -->
    <div class="emailList">

        <!-- Email List rows starts -->
        <div class="emailRowSection" >
             <h3 class="emailRow__title" id="fromField" >From</h3>
             <h3 class="emailRow__title">Subject</h3>

        </div>
        <div id = "receivedMails" class="emailList__list">
            <!-- Email Row Starts -->
            <div class="emailRow" th:each="mail : ${mails}"  >
                <div class="emailRow__options">
                    <input class="mail-checkbox" type="checkbox" th:attr="value=${mail.id}"/>
                </div>

                <div class="clickable-area"
                     data-toggle="modal"
                     data-target="#viewMailModal"
                     th:attr="
                     data-id=${mail.id},
                     data-sender=${mail.from},
                     data-receiver=${mail.to},
                     data-subject=${mail.subject},
                     data-text=${mail.text},
                     data-time=${mail.date}
                     "
                >
                <h3 class="emailRow__title" th:text="${mail.from}"></h3>

                <div class="emailRow__message">
                    <h3 th:text="${mail.subject}">
                    </h3>
                </div>

                <p class="emailRow__time" th:text="${mail.date}"></p>
            </div>
                </div>
            <!-- Email Row Ends -->
        <!-- Email List rows Ends -->

        </div>
        <div id = "sentMails" class="sent-emailList__list" style="display: none">
            <!-- Email Row Starts -->
            <div class="emailRow" th:each="mail : ${sentMails}">
                <div class="emailRow__options">
                    <input type="checkbox" th:attr="value=${mail.id}"/>

                </div>

                <div class="clickable-area" data-toggle="modal" data-target="#viewMailModal"
                     th:attr="
                     data-id=${mail.id},
                     data-sender=${mail.from},
                      data-receiver=${mail.to},
                      data-subject=${mail.subject},
                       data-text=${mail.text},
                       data-time=${mail.date}
                      ">
                <h3 class="emailRow__title" th:text="${mail.to}"></h3>

                <div class="emailRow__message">
                    <h3 th:text="${mail.subject}">

                    </h3>
                </div>

                <p class="emailRow__time" th:text="${mail.date}"></p>
            </div>
                </div>
            <!-- Email Row Ends -->


        </div>

        <div id = "draftMails" class="sent-emailList__list" style="display: none">
            <!-- Email Row Starts -->
            <div class="emailRow" th:each="mail : ${draftMails}">
                <div class="emailRow__options">
                    <input type="checkbox" th:attr="value=${mail.id}"/>

                </div>

                <div class="clickable-area" data-toggle="modal" data-target="#myModal"
                     th:attr="
                     data-id=${mail.id},
                      data-receiver=${mail.to},
                      data-subject=${mail.subject},
                       data-text=${mail.text}

                      ">
                    <h3 class="emailRow__title" th:text="${mail.to}"></h3>

                    <div class="emailRow__message">
                        <h3 th:text="${mail.subject}">

                        </h3>
                    </div>

                    <p class="emailRow__time" th:text="${mail.date}"></p>
                </div>
            </div>
            <!-- Email Row Ends -->


        </div>
    <!-- Email List Ends -->

    </div>
</div>
<!-- Main Body Ends -->

<div id="myModal" class = "modal-compose-message" aria-hidden="false"   >
    <div class = "modal-compose-message-internal">
        <form id="sendForm" action="#" class="modal-body" th:action="@{/sendMail}" th:object="${composedMail}" method="GET"
             >
        <div class = "modal-header">
            <button id="xButton" name="action" value="draft" class = "modal-header" data-toggle="modal" data-target="#myModal" style="cursor:pointer">
                <img src="https://www.pngkey.com/png/full/467-4671988_white-x-symbol-png.png" alt="x-close" width="10" height="10">
            </button>
        </div>
            <input type="hidden" id="draftID" th:field="*{id}">
            <div class = "to-field">
                <input type="email" id="to-input-field" name="to" placeholder = "To" required="" th:field="*{to}">
            </div>

            <div class = "subject-field">
                <input type="text" id="subject-input-field" name="subject" placeholder="Subject" th:field="*{subject}">
            </div>

            <div class = "text-field">
                <textarea type="" id = "text-input-field" name="text" placeholder="Write your message here" th:field="*{text}"></textarea >
            </div>
            <div class = "modal-footer">
                <button id="sendButton" class = "material-icons" type="submit" name="action" value="save">
                    send
                </button>
            </div>
        </form>
        </div>

    </div>

<div class="modal fade" id="viewMailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color: #ffffff">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:#ffffff">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form style="width: 100%">
                    <div class="form-group">
                        <label id="senderLabel" class="col-form-label">Sender:</label>
                    </div>
                    <div class="form-group">
                        <label id="receiverLabel" class="col-form-label">Receiver:</label>
                    </div>
                    <div class="form-group">
                        <label id="subjectLabel" class="col-form-label">Subject:</label>
                    </div>
                    <div class="form-group">
                        <label id="timeLabel" class="col-form-label">time</label>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea readonly class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="viewAccountInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"  style="color: #ffffff">Account Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:#ffffff">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form style="width: 100%">
                    <div class="form-group">
                        <label id="nameLabel" class="col-form-label"></label>
                    </div>
                    <div class="form-group">
                        <label id="emailLabel" class="col-form-label"></label>
                    </div>
                    <div class="form-group">
                        <label id="addressLabel" class="col-form-label"></label>
                    </div>
                    <div class="form-group">
                        <label id="telephoneLabel" class="col-form-label"></label>
                    </div>
                    <div class="form-group">
                        <label id="ageLabel" class="col-form-label"></label>
                    </div>
                    <div class="form-group">
                        <label id="genderLabel" class="col-form-label"></label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-secondary"  >Sign Out
                </button>
                </form>
            </div>


        </div>
    </div>
</div>


</div>

</body>

</html>